# Node.js
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
dist/

# Mac OS
.DS_Store

# Logs
logs
*.log
*.log.*
*.access

# Compiled binary addons (https://github.com/nodejs/node-gyp#the-gyp-environment-variable)
build/  

# dotenv environment file
*.env*

# Editor directories and files
.vscode/*
