# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
dist/
config/dbConfig.js

# Logs
logs
*.log
*.log.*
*.access

# Compiled binary addons (https://github.com/nodejs/node-gyp#the-gyp-environment-variable)
build/  

# Mac OS
.DS_Store

# dotenv environment file
.env

# VSCode settings
.vscode/
